@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap");

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "League Spartan", sans-serif;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  /* background */
  --Primary-main-background: 222 26% 31%;
  --Primary-keypad-background: 223 31% 20%; /* (toggle background,  */
  --Primary-screen-background: 224 36% 15%;

  /* keys */
  --Neutral-100-key-background: 225 21% 49%;
  --Neutral-100-key-shadow: 224 28% 35%;

  --Neutral-200-key-background: 6 63% 50%; /* toggle */
  --Neutral-200-key-shadow: 6 70% 34%;

  --Neutral-300-key-background: 30 25% 89%;
  --Neutral-300-key-shadow: 28 16% 65%;

  /* text */
  --Neutral-100-txt-clr: 221 14% 31%;
  --Neutral-200-txt-clr: 0 0% 100%;

  --Header-clr-text: 0 0% 100%;
  --Equal-dark-clr: var(--Neutral-200-txt-clr);
}

.light-theme {
  --Primary-main-background: 0 0% 90%;
  --Primary-keypad-background: 0 5% 81%;
  --Primary-screen-background: 0 0% 93%;

  --Neutral-100-key-background: 185 42% 37%;
  --Neutral-100-key-shadow: 185 58% 25%;

  --Neutral-200-key-background: 25 98% 40%; /* toggle */
  --Neutral-200-key-shadow: 25 99% 27%;

  --Neutral-300-key-background: 45 7% 89%;
  --Neutral-300-key-shadow: 35 11% 61%;

  --Neutral-100-txt-clr: 60 10% 19%;
  --Neutral-200-txt-clr: 0 0% 100%;

  --Header-clr-text: 60 10% 19%;

  --Equal-dark-clr: var(--Neutral-200-txt-clr);
}

.dark-violet-theme {
  --Primary-main-background: 268 75% 9%;
  --Primary-keypad-background: 268 71% 12%;
  --Primary-screen-background: 268 71% 12%;

  --Neutral-100-key-background: 281 89% 26%;
  --Neutral-100-key-shadow: 285 91% 52%;

  --Neutral-200-key-background: 176 100% 44%; /* toggle */
  --Neutral-200-key-shadow: 177 92% 70%;

  --Neutral-300-key-background: 268 47% 21%;
  --Neutral-300-key-shadow: 290 70% 36%;

  --Neutral-300-txt-clr: 198 20% 13%;
  --Neutral-200-txt-clr: 0 0% 100%;
  --Neutral-100-txt-clr: 52 100% 62%;

  --Header-clr-text: var(--Neutral-100-txt-clr);
  --Number-hover: var(--Neutral-100-key-background);

  --Equal-dark-clr: 198 20% 13%;
}
